@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300;400;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply overflow-hidden bg-body !font-SC text-lg text-white;
}

[role="TerminalContent"] {
  @apply pt-0;
}

[role="TerminalContent"]:first-child {
  @apply pt-0;
}

[role="TerminalContent"] > .text-command {
  @apply font-thin;
}

[role="resultCommand"] > p {
  line-height: 1.5rem;  
}

[role="folderRoute"] {
  @apply text-folder;
}

[role="fileRoute"] {
  @apply font-thin text-file;
}

#driver-popover-content {
  inset:auto auto 50% 70px !important;
}